body {
  margin: 0;
  background-color: bisque;
}
.layout-structure {
  display: grid;
  grid-template-columns: 250px 1fr 250px;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  grid-template-areas:
    "navbar navbar navbar"
    "left-sidebar main-content right-sidebar "
    "footer footer footer";
}
p {
  font-size: 50px;
}
ul {
  margin: 0;
  padding: 0;
}
nav {
  top: 0;
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: navbar;
  border: solid black 3px;
  max-height: 70px;
  background-color: aqua;
}
.left-sidebar {
  position: sticky;
  height: calc(100vh - 74.8px - 74.8px);
  top: 74.8px;
  align-self: start;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: left-sidebar;
  border: solid red 3px;
  background-color: blueviolet;
}
.right-sidebar {
  position: sticky;
  height: calc(100vh - 74.8px - 74.8px);
  top: 74.8px;
  align-self: start;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: right-sidebar;
  border: solid red 3px;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: main-content;
  border: solid white 3px;
}
footer {
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: footer;
  height: 70px;
  border: solid blue 3px;
  background-color: azure;
}
