/* Footer */

footer {
  display: flex;
  align-items: center;  
  background-color: #9893da;
  font-size: 1.5rem;
}

.elements-in-footer {
  width: 100%;

  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0 1rem;
}
.elements-in-footer li {
  display: flex;
  align-items: center;
  /* gap: 10rem; */
}
#add-to-playlist-icon {
  text-align: center;
  border: solid black 0.1rem;
  border-radius: 1rem;
}
#mid-footer {
  margin-left: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: auto;
  /* gap: 0; */
}
.song-name,
.artist-name {
  margin: 0 5px 0 0;
}

.footer-nav-button-over-progress-bar {
    font-size: 1.5rem;
  display: flex;
  gap: 1rem;
}
