.left-sidebar {
  border: solid black 0.3rem;
  background-color: bisque;
  display: flex;
  flex-direction: column;
}
.wrapper-left-sidebar {
  margin: 1.5rem;
}

.left-sidebar-toggle-library-and-create-playlist-button,
.left-sidebar-search-and-sort-playlist {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left-sidebar-toggle-library-and-create-playlist-button {
  font-size: 1.5rem;
}

.create-playlist-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 10px;
}
.left-sidebar-elements-in-form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 50px;
}
.left-sidebar-searchbar {
  max-width: 100px;
  height: 20px;
  font-size: 1rem;
}
.left-sidebar-playlist {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem 0;
  
}
.left-sidebar-playlist-button {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
}
